# Build artifacts
build/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code related
.vscode/

# Packages
*.pub-cache/
.packages
.pub/
flutter_*.png
*.part
*.patch
*.g.dart

# OS X specific
**/.DS_Store
**/.AppleDouble
**/.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Android/Flutter
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/podhelper.rb
**/ios/Flutter/GeneratedPluginRegistrant.*
**/ios/.symlinks/
**/ios/.vagrant/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner.xcworkspace/xcshareddata/
**/ios/Runner.xcworkspace/xcuserdata/